In [2]:
x=5
y=4
x+y
#The way to exicute is: Shift+Enter

9

In [1]:
5+4

9

In [3]:
x

5

In [4]:
y

4

Python is case sensitive

In [5]:
X

NameError: name 'X' is not defined

the variable name can not start with numbers see example below

In [6]:
1x=5

SyntaxError: invalid syntax (<ipython-input-6-65cd9c03f9e8>, line 1)

In [7]:
my x=5 # we can not have space while declairing variables

SyntaxError: invalid syntax (<ipython-input-7-8cec1f40c0ac>, line 1)

In [8]:
my@x=5 # we can not have special charecters in declaring variables

SyntaxError: can't assign to operator (<ipython-input-8-6ec656b3d137>, line 1)

In [9]:
my_x=5 # while naming no special char except _

In [10]:
my_x

5

In [ ]:
# short cut for inserting a code cell above the current one : escape + a
# short cut for inserting a code cell below the current one : escape + b
# short cut for delete a cell escape + d + d

In [11]:
# we should not use few words which have specific meaning attached to it, please see below example
# to identify such wors  we can observe those words are turning into green after typing
finally = 5

SyntaxError: invalid syntax (<ipython-input-11-e6c967ff0ba3>, line 2)

In [12]:
x=6
y='Ragava Ram'

In [13]:
type(x) # we can find data type by sing type() function

int

In [14]:
type(y)

str

In [15]:
x='6'

In [16]:
x+2

TypeError: can only concatenate str (not "int") to str

In [17]:
int(x)+2

8

In [18]:
type(x)

str

In [19]:
x=int(x)

In [20]:
type(X)

NameError: name 'X' is not defined

In [ ]:
# short cut for comment control+/

In [21]:
x=9
y=1

In [22]:
x

9

In [23]:
y

1

In [24]:
x+y
x-y

8

In [25]:
print(x+y)
x-y

10

8

In [ ]:
x+y # short cut for splitting the cell: ctrl+shift+-
x-y # short cut for merging cells : shift+m

In [ ]:
x-y

In [26]:
x^y,x**y # please note that '^' and '**' have different meaning, for exponential purpose use '**'

(8, 9)

In [27]:
z=(x+y)**(2*x+3*y)

In [28]:
z

1000000000000000000000

In [29]:
x+y,x-y,x*y,x**y

(10, 8, 9, 9)

In [30]:
a=x+y
b=x-y
c=x*y
d=x**y

In [31]:
a,b,c,d

(10, 8, 9, 9)

In [32]:
a,b,c,d=x+0,x+1,x+2,x+3

In [33]:
a,b,c,d,x

(9, 10, 11, 12, 9)

In [35]:
import math as m

In [36]:
m.log(x)

2.1972245773362196

In [37]:
m.log? # ? can be used to know about the function

In [38]:
help(m.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [43]:
x=True
y=False
type(y)

bool

In [47]:
x and y, x & y

(False, False)

In [48]:
x or y,x | y

(True, True)

In [49]:
not x,x

(False, True)

In [52]:
x='shiva'
y='sHiva'

In [53]:
x==y

False

In [54]:
x>y

True

In [55]:
x<y

False

In [56]:
x!=y

True

In [57]:
x='as'
y='assignment'

x in y

True

In [58]:
x not in y

False

In [65]:
x='shiva'
y='bad luck fellow'

In [66]:
type(x),type(y)

(str, str)

In [67]:
len(x),len(y)

(5, 15)

In [75]:
z=x+' '+y

In [74]:
x*3

'shivashivashiva'

In [ ]:
x*y #multiplication of strings doest works

In [77]:
z.upper()

'SHIVA BAD LUCK FELLOW'

In [78]:
z.lower()

'shiva bad luck fellow'

In [80]:
z.capitalize()

'Shiva bad luck fellow'

In [81]:
z.rjust(40)

'                   shiva bad luck fellow'

In [82]:
len(z.rjust(40))

40

In [83]:
z.rjust(10)

'shiva bad luck fellow'

In [84]:
#explore ljust, center
z.ljust?

In [85]:
z.ljust(40,"1")

'shiva bad luck fellow1111111111111111111'

In [86]:
z.center?

In [87]:
z.center(40,'o')

'oooooooooshiva bad luck fellowoooooooooo'

In [88]:
z.center(40,'-')

'---------shiva bad luck fellow----------'

In [89]:
z='   '+z+'   '

In [90]:
z

'   shiva bad luck fellow   '

In [91]:
z.lstrip()

'shiva bad luck fellow   '

In [92]:
z.rstrip()

'   shiva bad luck fellow'

In [93]:
z.strip()

'shiva bad luck fellow'

In [94]:
z.replace('shiva','siva teja')

'   siva teja bad luck fellow   '

In [95]:
z.replace?

In [99]:
z.replace('l','L',2)

'   shiva bad Luck feLlow   '

In [100]:
z.split('a') # if we want to split the text with delimiter as a result we can not get delimiter at the output.
# and result is list

['   shiv', ' b', 'd luck fellow   ']

In [101]:
z

'   shiva bad luck fellow   '

In [103]:
type(z.split('a'))

list

In [109]:
z='amarasivatej'

In [110]:
z[2]

'a'

In [111]:
z[-2]

'e'

In [112]:
z[0]

'a'

In [113]:
len(z)

12

In [120]:
z[3:6],z[-9:-6]

('ras', 'ras')

In [119]:
z[-(12-3):-(12-6)]

'ras'