In [28]:
7//2

3

In [18]:
7+2*10/5

11.0

In [25]:
6!=5

True

In [26]:
(6==5)==False

True

In [24]:
(6>5) | (7>10)

True

In [1]:
4+5
# run/execute the code : shift + enter

9

In [33]:
x=2

In [31]:
x=5

In [35]:
x+1

3

In [38]:
x=14

In [39]:
## Code that checks if x is divible by 7
# if x is divisible by 7 then ouput True else False

x%7==0

True

In [ ]:
# Integer : A number without decimal values
# Float :  A number with decimal values
# String : one or more alphabets / special characters
# Logical : True/ False

In [46]:
x=int(4/2)

In [47]:
type(x)

int

In [48]:
int(20/3)

6

In [50]:
int(99/7)

14

In [53]:
x=float(2)

In [54]:
type(x)

float

In [55]:
x

2.0

In [49]:
20/3

6.666666666666667

In [74]:
x="11.2"

In [75]:
type(x)

str

In [78]:
int(float(x))

11

In [79]:
x="advancer"

In [ ]:
# Astring can be indexed
#indexed? : every alphanumeric value has a position assigned to it
# start : end+1 : step(=1 by default)

In [87]:
x[-2]

'e'

In [92]:
x="Corona"
# last 4 alphabets in reversed way

In [98]:
x[-4:][::-1][:3]

'ano'

In [104]:
x.replace?

In [119]:
x="I love numbers and I love analytics"

In [132]:
# replace "I" with "You"
x.find("love",10,25)

21

In [128]:
len(x)

35

In [133]:
x="I love analytics . I love maths. I love working on data science"
y="love"
z="hate"
#find the last occurance of "love" and replace it with "hate"

In [ ]:
# Desired output
"I love analytics . I love maths. I hate working on data science"

In [150]:
x[::-1].replace(y[::-1],z[::-1],1)[::-1]

'I love analytics . I love maths. I hate working on data science'

In [140]:
x.replace("love","hate",x.find("love"))[::1]

'I hate analytics . I hate maths. I love working on data science'

In [148]:
x.replace('love','hate',)

'I hate analytics . I hate maths. I hate working on data science'

In [149]:
x[:10] + x[10:].replace('love','hate')

'I love analytics . I hate maths. I hate working on data science'

In [143]:
x[::-1].replace(y[::-1],z[::-1],1)[::-1]

'I love analytics . I love maths. I hate working on data science'

In [ ]:
x="I love analytics . I love maths. I love working on data science"
y="love"
z="hate"

In [ ]:
find the last occurance of "love" and fetch 5 alphabets after that

In [155]:
x[-1*x[::-1].find(y[::-1]) : -1*x[::-1].find(y[::-1])+5]

' work'

In [157]:
x[x[::-1].find("evol")*-1 : -1*x[::-1].find("evol")+5]

' work'

In [158]:
x[len(x)-x[::-1].find(y[::-1]):(len(x)-x[::-1].find(y[::-1]))+5: ]

' work'

In [103]:
x="CORONA"
x.casefold()

'corona'

In [101]:
x.casefold?

In [99]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
"anor"

In [2]:
4/5

4-5

-1

In [3]:
4*5 
# shortcut for inserting a cell above the current cell : escape + A
# shortcut for inserting a cell below the current cell : escape + B
# select and merge : escape + shift + up/down [ for selecting ] / shift+M
# shortcut for breaking a cell : take the cursor where you want to break : ctrl+shift+-

20

In [4]:
# creating variables with single values 
# type casting 
# operations

In [5]:
x=4
y=5

In [6]:
x

4

In [160]:
logical conditions:
if then else

[0, 1, 2, 3, 4]

In [8]:
x=5
# if x is divisible by 2 then print("divisible by 2")
# if x is divisible by 3 then print("divisible by 3")
# if x is divisible by 5 then print("divisible by 5")
# otherwise print not divisible

NameError: name 'X' is not defined

In [167]:
x=4
if x%2==0:
    print("divisble by 2")    

if x%3==0:
    print("divisble by 3")    

if x%5==0:
    print("divisble by 5")    
else:
    print("Not divisible")

divisble by 2
Not divisible

In [169]:
#ternary 
x=3
y=2
#print yes if x<y and no if x>=y

if x<y:
    print("yes")
    print("hello")
    
else:
    print("no")

no

In [170]:
"yes" if x<y else "no"

'no'

In [ ]:
#Loops
1> for loop
2> while loop

In [ ]:
factorial(x)

In [ ]:
# given an integer x print factorial(x)

In [176]:
y=5
x=1
for i in range (2,y+1):
    x=x*i
#    print(x)
print (x)

2
6
24
120

In [ ]:
keep on adding consecutive integers till i get a total which is >100

In [180]:
total=0
k=0
while (total<=100):
    total=total+k
    print(k)
    k=k+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
check divisibility of a number by any number between 2 and 30

In [185]:
divisibility=0
x=59
k=2
while (divisibility==0):
    if x%k==0:
        print("divisible by " + str(k))
        divisibility=1
    elif k>30:
            divisibility=1
    else:
        k=k+1

In [ ]:
x=40 #enter number
k=1
cnt=0
while k<=x:
    if(x%k==0):
        cnt=cnt+1
    k=k+1;
if cnt==2:
    print("prime")
else:
    print("not prime")

In [198]:
x=13 #enter number
k=2
cnt=0

while cnt==0:
    if x%k==0:
        cnt=cnt+1
    elif k>=x-1:
        cnt=-1
    else:
        print(k)
        k=k+1
    
cnt

2
3
4
5
6
7
8
9
10
11

-1

In [204]:
x=100
flag=False
if x>1:
    for i in range(2,x):
        if(x%i)==0:
            flag= True
            
            
if flag==True:
    print(x,"not a prime")
else :
    print(x,"prime")

17 prime

In [ ]:
# write a code to check if a number is prime or not
# if prime print "prime"
# print "not prime"

In [178]:
total

105

In [174]:
for i in range(0,10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [9]:
var1=34

In [10]:
this_is_a_variable_which_i_just_created=34

In [11]:
who

this_is_a_variable_which_i_just_created	 var1	 x	 y

In [12]:
del thisisavariablewhichijustcreated

NameError: name 'thisisavariablewhichijustcreated' is not defined

In [13]:
del this_is_a_variable_which_i_just_created

In [14]:
who

var1	 x	 y

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
pass1 ='any value'

In [16]:
## how to get the list of reserved words

In [17]:
x=34
y='November'

In [18]:
type(x)

int

In [19]:
type(y)

str

In [20]:
x='34'

In [21]:
type(x)

str

In [22]:
x+3

TypeError: must be str, not int

In [23]:
int(x)+3

37

In [24]:
type(x)

str

In [25]:
x=int(x)

In [26]:
type(x)

int

In [27]:
# int, str,bool

In [28]:
x=2
y=19

In [29]:
print(x+y)

x-y

print(x*y)

x/y

x^y , x**y

# ^ bitwise or
# do not use ^ for powers 
# always use **

x**y

21
38

524288

In [30]:
z=(x/y)**(x*y+3)

In [31]:
z

8.190910549494282e-41

In [32]:
x+2,y/10,x-y,x**y

(4, 1.9, -17, 524288)

In [33]:
a=x+2
b=y/10
c=x-y
d=x**y

In [34]:
a,b,c,d

(4, 1.9, -17, 524288)

In [35]:
a

4

In [36]:
a,b,c,d = x+2,y/10,x-y,x**y

In [37]:
a,b,c,d

(4, 1.9, -17, 524288)

In [38]:
import math as m

In [39]:
log(34,10)

NameError: name 'log' is not defined

In [40]:
m.cos(0)

1.0

In [41]:
from math import *

In [42]:
cos(34)

-0.8485702747846052

In [43]:
x=True

In [44]:
y=False

In [45]:
type(x)

bool

In [46]:
x and y, x & y

(False, False)

In [47]:
x or y , x | y

(True, True)

In [48]:
not x

False

In [49]:
not y

True

In [50]:
a=34

In [51]:
a>34

False

In [52]:
(a>34) and (a=='lalit')

False

* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

In [53]:
# !x this is not same => not x

In [54]:
x='python'

In [55]:
x=='Python'

False

In [56]:
x!='Python'

True

In [57]:
x=45
y=67

In [58]:
(x ==4 or y > 15 )

True

In [59]:
(x > 20 and y<10)

False

In [60]:
(x > 20 and y<10) or (x ==4 or y > 15 )

True

In [61]:
x

45

In [62]:
x='python'

In [63]:
y='py'

In [64]:
y in x

True

In [65]:
y not in x

False

In [66]:
x='Python'
y='Data'

In [67]:
type(x),type(y)

(str, str)

In [68]:
len(x),len(y)

(6, 4)

In [69]:
x+y

'PythonData'

In [70]:
x*3

'PythonPythonPython'

In [71]:
z=x+' and '+y

In [72]:
z

'Python and Data'

In [73]:
type(z)

str

In [74]:
z.lower()

'python and data'

In [75]:
z

'Python and Data'

In [76]:
z.upper()

'PYTHON AND DATA'

In [77]:
z.capitalize()

'Python and data'

In [78]:
z.rjust(20)

'     Python and Data'

In [79]:
z.ljust(20)

'Python and Data     '

In [80]:
z=z.center(29)

In [81]:
z

'       Python and Data       '

In [82]:
't' in z

True

In [83]:
z.lstrip()

'Python and Data       '

In [84]:
z.rstrip()

'       Python and Data'

In [85]:
z.strip()

'Python and Data'

In [86]:
# removing all spaces : we'll come back to it later

In [87]:
z.replace('a',"@#!",1)

'       Python @#!nd Data       '

In [88]:
z

'       Python and Data       '

In [89]:
help(z.replace)

Help on built-in function replace:

replace(...) method of builtins.str instance
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

In [90]:
x='stringIndex'

In [91]:
x

'stringIndex'

In [92]:
x[4]

'n'

In [93]:
x[-5]

'I'

In [94]:
x[2:7]

'ringI'

In [95]:
x[2:-3]

'ringIn'

In [96]:
x[4:1]

''

In [97]:
x[-10:-4]

'tringI'

In [98]:
x[2:10]

'ringInde'

In [99]:
x[2:10:1]

'ringInde'

In [100]:
x[2:10:2]

'rnId'

In [101]:
x[2:10:-1]

''

In [102]:
x[10:2:-1]

'xednIgni'

In [103]:
x[2:]

'ringIndex'

In [104]:
x[2::-1]

'rts'

In [105]:
x[::-1]

'xednIgnirts'

In [106]:
x='lalit-sachan'

In [107]:
x.split('l')

['', 'a', 'it-sachan']

# Lists

In [108]:
x=[20,92,43,83,"lalit","a","c",45]

In [109]:
x[3:7]

[83, 'lalit', 'a', 'c']

In [110]:
x[2:]

[43, 83, 'lalit', 'a', 'c', 45]

In [111]:
x[:4]

[20, 92, 43, 83]

In [112]:
x[15]

IndexError: list index out of range

In [113]:
x

[20, 92, 43, 83, 'lalit', 'a', 'c', 45]

In [114]:
x[3]

83

In [115]:
x[3]=100

In [116]:
x

[20, 92, 43, 100, 'lalit', 'a', 'c', 45]

In [117]:
x[2]='python'

In [118]:
x

[20, 92, 'python', 100, 'lalit', 'a', 'c', 45]

In [119]:
x[1:4]

[92, 'python', 100]

In [120]:
x[1:4]=[70]

In [121]:
x

[20, 70, 'lalit', 'a', 'c', 45]

In [122]:
x[2:5]

['lalit', 'a', 'c']

In [123]:
x[2:5]='hello'

In [124]:
x

[20, 70, 'h', 'e', 'l', 'l', 'o', 45]

In [125]:
x=[20, 70, 'lalit', 'a', 'c', 45]

In [126]:
x

[20, 70, 'lalit', 'a', 'c', 45]

In [127]:
x[2:5]=['hello']

In [128]:
x

[20, 70, 'hello', 45]

In [129]:
x=[20,92,43,83,"lalit","a","c",45]

In [130]:
# can we extract elements with indices not in sequence

In [131]:
x.append(100)

In [132]:
x

[20, 92, 43, 83, 'lalit', 'a', 'c', 45, 100]

In [133]:
print(x , '&' , len(x))
x.append([23,-18,'two'])
print(x, '&' , len(x))

[20, 92, 43, 83, 'lalit', 'a', 'c', 45, 100] & 9
[20, 92, 43, 83, 'lalit', 'a', 'c', 45, 100, [23, -18, 'two']] & 10

In [134]:
x=x+[10,20,30]

In [135]:
x

[20, 92, 43, 83, 'lalit', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30]

In [136]:
x.extend(['one','three','five'])

In [137]:
x

[20,
 92,
 43,
 83,
 'lalit',
 'a',
 'c',
 45,
 100,
 [23, -18, 'two'],
 10,
 20,
 30,
 'one',
 'three',
 'five']

In [138]:
print(x)
x.insert(3,'this')
print(x)

[20, 92, 43, 83, 'lalit', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five']
[20, 92, 43, 'this', 83, 'lalit', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five']

In [139]:
print(x)
x.pop()
print(x)

[20, 92, 43, 'this', 83, 'lalit', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five']
[20, 92, 43, 'this', 83, 'lalit', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three']

In [140]:
x.pop()

'three'

In [141]:
print(x)
print(x[4])
x.pop(4)
print(x)

[20, 92, 43, 'this', 83, 'lalit', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one']
83
[20, 92, 43, 'this', 'lalit', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one']

In [142]:
print(x)
x.remove(10)
print(x)

[20, 92, 43, 'this', 'lalit', 'a', 'c', 45, 100, [23, -18, 'two'], 10, 20, 30, 'one']
[20, 92, 43, 'this', 'lalit', 'a', 'c', 45, 100, [23, -18, 'two'], 20, 30, 'one']

In [143]:
x=[2,3,40,2,14,2,3,11,71,26]

In [144]:
x.remove(3)
print(x)

[2, 40, 2, 14, 2, 3, 11, 71, 26]

In [145]:
x=[2,3,40,2,14,2,3,11,71,26]

In [146]:
x

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

In [147]:
x.sort()

In [148]:
x

[2, 2, 2, 3, 3, 11, 14, 26, 40, 71]

In [149]:
x

[2, 2, 2, 3, 3, 11, 14, 26, 40, 71]

In [150]:
x.sort(reverse=True)

In [151]:
x

[71, 40, 26, 14, 11, 3, 3, 2, 2, 2]

In [152]:
x=[2,3,40,2,14,2,3,11,71,26]

In [153]:
x[::-1]

[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

In [154]:
x

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

In [155]:
x.reverse()

In [156]:
x

[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

In [157]:
x

[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

In [158]:
x.reverse()

In [159]:
x

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

In [160]:
a=x.reverse()

In [161]:
a

In [162]:
print(a)

None

In [163]:
x=x.reverse()

In [164]:
x.sort()

AttributeError: 'NoneType' object has no attribute 'sort'

## flow control in python

In [165]:
x=12

In [166]:
if x>10:
    print('my value is larger than 10')
else:
    difference=10-x
    print('x is smaller than 10 by '+str(difference))

my value is larger than 10

In [167]:
x=[5,40,12,-10,0,32,4,3,6,72]

In [168]:
for value in x:
    if value>10:
        print('my value is larger than 10')
    else:
        difference=10-value
        print('x is smaller than 10 by '+str(difference))
        print('hello again')
    print('hello')
    
print('hello there')

x is smaller than 10 by 5
hello again
hello
my value is larger than 10
hello
my value is larger than 10
hello
x is smaller than 10 by 20
hello again
hello
x is smaller than 10 by 10
hello again
hello
my value is larger than 10
hello
x is smaller than 10 by 6
hello again
hello
x is smaller than 10 by 7
hello again
hello
x is smaller than 10 by 4
hello again
hello
my value is larger than 10
hello
hello there

In [169]:
cities=['Mumbai','London','Bangalore','Pune','Hyderabad']

In [170]:
for city in cities:
    num_chars=len(city)
    print('number of character in the name of city '+city+ ':'+ str(num_chars))

number of character in the name of city Mumbai:6
number of character in the name of city London:6
number of character in the name of city Bangalore:9
number of character in the name of city Pune:4
number of character in the name of city Hyderabad:9

In [171]:
x=10

In [172]:
if x>6:
    print('greater than 6')
    if x>7:
        print('greater than 7')
        if x>8:
            print('greater than 8')

greater than 6
greater than 7
greater than 8

In [173]:
# break , continue , pass

In [174]:
x=[[1,2],['a','b'],[34,67]]

In [175]:
for i,j in x:
    print(i,j)

1 2
a b
34 67

In [176]:
ctr=0
for city in cities:
    print(ctr,':',len(city))
    ctr+=1

0 : 6
1 : 6
2 : 9
3 : 4
4 : 9

In [177]:
list(enumerate(cities))

[(0, 'Mumbai'), (1, 'London'), (2, 'Bangalore'), (3, 'Pune'), (4, 'Hyderabad')]

In [178]:
for i,city in enumerate(cities):
    print(i,':',len(city))

0 : 6
1 : 6
2 : 9
3 : 4
4 : 9

In [179]:
x=[[2,3,4,5,6,7,8],[2,3,4,5,6,7,8]]

In [180]:
for a,b,c,d,e,f,g in x:
    print(a,b,c,d,e,f,g)

2 3 4 5 6 7 8
2 3 4 5 6 7 8

In [181]:
x=10

while x>3:
    print(x, 'x is greater than 3')
    x-=1

10 x is greater than 3
9 x is greater than 3
8 x is greater than 3
7 x is greater than 3
6 x is greater than 3
5 x is greater than 3
4 x is greater than 3

In [182]:
mylist=range(10,3,-1)

In [183]:
for value in mylist:
    print(value)

10
9
8
7
6
5
4

In [184]:
mysum=0
throws=0
import numpy as np 

while mysum<=20 and throws<6:
    throw = np.random.randint(high=7,low=1)
    mysum += throw
    throws +=1
    print(throw)

if mysum<20: 
    print('Loss')
else :
    print('Win')

6
2
3
3
6
6
Win

In [185]:
x=[2,3,4,5,6,8,9,10,1,33,44,12]

In [186]:
import math

In [187]:
logs=[]

for num in x:
    logs.append(math.log(num))
  
print(x)
print(logs)

[2, 3, 4, 5, 6, 8, 9, 10, 1, 33, 44, 12]
[0.6931471805599453, 1.0986122886681098, 1.3862943611198906, 1.6094379124341003, 1.791759469228055, 2.0794415416798357, 2.1972245773362196, 2.302585092994046, 0.0, 3.4965075614664802, 3.784189633918261, 2.4849066497880004]

In [188]:
logs=[math.log(num) for num in x]

In [189]:
logs

[0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 2.302585092994046,
 0.0,
 3.4965075614664802,
 3.784189633918261,
 2.4849066497880004]

In [190]:
x=[0,3,4,-5,6,8,9,-10,1,33,-44,12]

In [191]:
logs=[math.log(num) for num in x]

ValueError: math domain error

In [192]:
logs=[]

for num in x:
    if num>0:
        logs.append(math.log(num))
    else:
        pass

In [193]:
logs

[1.0986122886681098,
 1.3862943611198906,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 0.0,
 3.4965075614664802,
 2.4849066497880004]

In [194]:
logs=[math.log(num) for num in x if num>0]

In [195]:
logs

[1.0986122886681098,
 1.3862943611198906,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 0.0,
 3.4965075614664802,
 2.4849066497880004]

In [196]:
logs=[math.log(num) if num>0 else 'out of domain' for num in x]

In [197]:
logs

['out of domain',
 1.0986122886681098,
 1.3862943611198906,
 'out of domain',
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 'out of domain',
 0.0,
 3.4965075614664802,
 'out of domain',
 2.4849066497880004]

In [198]:
my_dict={'name':'lalit','city':'hyderabad','locality':'gachibowli','num_vehicles':2,3:78,4:[3,4,5,6]}

In [199]:
type(my_dict)

dict

In [200]:
my_dict.keys()

dict_keys(['name', 'city', 'locality', 'num_vehicles', 3, 4])

In [201]:
my_dict.values()

dict_values(['lalit', 'hyderabad', 'gachibowli', 2, 78, [3, 4, 5, 6]])

In [202]:
my_dict['locality']

'gachibowli'

In [203]:
my_dict[4]

[3, 4, 5, 6]

In [204]:
my_dict['last_name']

KeyError: 'last_name'

In [205]:
my_dict['last_name']='sachan'

In [206]:
my_dict

{'name': 'lalit',
 'city': 'hyderabad',
 'locality': 'gachibowli',
 'num_vehicles': 2,
 3: 78,
 4: [3, 4, 5, 6],
 'last_name': 'sachan'}

In [207]:
del my_dict['num_vehicles']

In [208]:
my_dict

{'name': 'lalit',
 'city': 'hyderabad',
 'locality': 'gachibowli',
 3: 78,
 4: [3, 4, 5, 6],
 'last_name': 'sachan'}

In [209]:
for itr in my_dict:
    print(itr)

name
city
locality
3
4
last_name

In [210]:
for itr in my_dict:
    print(itr,my_dict[itr])

name lalit
city hyderabad
locality gachibowli
3 78
4 [3, 4, 5, 6]
last_name sachan

In [211]:
my_dict.items()

dict_items([('name', 'lalit'), ('city', 'hyderabad'), ('locality', 'gachibowli'), (3, 78), (4, [3, 4, 5, 6]), ('last_name', 'sachan')])

In [212]:
for key,value in my_dict.items():
    print('key :', key , ' and value :',value)

key : name  and value : lalit
key : city  and value : hyderabad
key : locality  and value : gachibowli
key : 3  and value : 78
key : 4  and value : [3, 4, 5, 6]
key : last_name  and value : sachan

In [213]:
names={'lalit','spanadan','deepta','manoj'}

In [214]:
type(names)

set

In [215]:
'lalit' in names

True

In [216]:
'harsh' not in names

True

In [217]:
names.add('harsh')

In [218]:
names

{'deepta', 'harsh', 'lalit', 'manoj', 'spanadan'}

In [219]:
names.add('harsh')

In [220]:
names

{'deepta', 'harsh', 'lalit', 'manoj', 'spanadan'}

In [221]:
names.remove('lalit')

In [222]:
names

{'deepta', 'harsh', 'manoj', 'spanadan'}

In [223]:
for name in names:
    print(name)

manoj
spanadan
deepta
harsh

In [224]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [225]:
c=a.union(b)

In [226]:
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [227]:
a.intersection(b)

{4, 5, 6}

In [228]:
a.difference(b)

{1, 2, 3}

In [229]:
b.difference(a)

{7, 8, 9}

In [230]:
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9}

In [231]:
t=(34,56,12)

In [232]:
type(t)

tuple

In [233]:
t=34,56,89

In [234]:
type(t)

tuple

In [235]:
t[2]=99

TypeError: 'tuple' object does not support item assignment

In [236]:
x=12
fib_series=[1,1]
ctr=2

while ctr<x:
    fib_series.append(fib_series[-1]+fib_series[-2])
    ctr+=1

In [237]:
fib_series

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [238]:
def fib_series_creator(num_elements):
    fib_series=[1,1]
    ctr=2

    while ctr<num_elements:
        fib_series.append(fib_series[-1]+fib_series[-2])
        ctr+=1
        
    return(fib_series)

In [239]:
fib_series_creator(3)

[1, 1, 2]

In [240]:
def mysum(x,y,z):
    return(2*x+3*y+4*z)

In [241]:
mysum(1,2,3)

20

In [242]:
mysum(2,4)

TypeError: mysum() missing 1 required positional argument: 'z'

In [243]:
def mysum(x=1,y=10,z=100):
    return(2*x+3*y+4*z)

In [244]:
mysum(1,2,3)

20

In [245]:
mysum(2,4)

416

In [246]:
mysum(2)

434

In [247]:
mysum()

432

In [248]:
mysum(z=-10)

-8

In [249]:
mysum(y=0,z=90,x=7)

374

In [250]:
mysum(y=10,3)

SyntaxError: positional argument follows keyword argument (<ipython-input-250-6bb8c761aa69>, line 1)

In [251]:
mysum(3,z=-10)

-4

In [252]:
def test_func(*args):
    for a in args:
        print(a)

In [253]:
test_func(2,'lalit')

2
lalit

In [254]:
test_func(1,2,3,4,5,6)

1
2
3
4
5
6

In [255]:
def mysum(*args):
    total=0
    for a in args:
        total+=a
    return(total)

In [256]:
mysum(2,3,4,5,65)

79

In [257]:
mysum(3,4)

7

In [258]:
c1_name='lalit'
c1_balance=100
c1_last_wd=10

c2_name='pravin'
c2_balance=200
c2_last_wd=50

In [259]:
class customer():
    
    def __init__(self,name,balance,last_wd):
        self.name=name
        self.balance=balance
        self.last_wd=last_wd
    
    def withdraw(self,amount):
        
        if(amount>self.balance):
            print('insufficient balance')
        else:
            self.balance-=amount
            self.last_wd=amount
    
    def deposit(self,amount):
        self.balance += amount
        return(self.balance)

In [260]:
c1=customer('lalit',100,10)

In [261]:
c2=customer('pravin',200,50)

In [262]:
c1.withdraw(500)

insufficient balance

In [263]:
c1.balance

100

In [264]:
c1.withdraw(50)

In [265]:
c1.balance

50

In [266]:
c1.last_wd

50

In [267]:
c2.withdraw(10)

In [268]:
customer.withdraw(c1,20)

In [269]:
c1.withdraw(30)

In [270]:
c1.balance

0

In [271]:
c1.deposit(1000)

1000

In [272]:
class myclass():
    def f1(x,y):
        return(x*y)
    def f2():
        print('hello')

In [273]:
f1(3,4)

NameError: name 'f1' is not defined

In [274]:
myclass.f1(3,4)

12

In [275]:
myclass.f2()

hello

In [276]:
a=20
b=10

In [277]:
def exp1(a,b):
    a=7
    b=3
    global c
    c=100
    print(a,b)

In [278]:
a,b

(20, 10)

In [279]:
exp1(a,b)

7 3

In [280]:
c

100